<a class="nav-back" href="<%- config.root %>">
    <i class="fa fa-puzzle-piece"></i>
</a>
<a class="nav-search" data-toggle="modal" data-target="#searchModalCenter">
  <i class="fa fa-search"></i>
</a>