.header { background: url('http://otzlyqzo6.bkt.clouddn.com/image/background/headback2.jpg');background-size:cover; }

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
